
<div class="popup">
  <form action="js/ajax/send.php" method="post" class="main-form">
    <h3>Онлайн  заказ</h3>
    <label>
      <input type="text" name="name" placeholder="Имя" class="inp required"/>
    </label>
    <label>
      <input type="text" name="phone" placeholder="Телефон" class="inp required inp-phone"/>
    </label>
    <label>
      <input type="text" name="theme" placeholder="Тема" class="inp"/>
    </label>
    <label>
      <textarea name="message" placeholder="Сообщение" class="inp"></textarea>
    </label><a href="" class="btn btn-yellow js--form-submit">Отправить</a><a href="javascript:;" data-type="ajax" data-src="popup/popup-thanks.html" data-fancybox="thanks" class="js--form-ok"></a>
  </form>
  <script type="text/javascript">$(function(){$('.inp-phone').mask('@@(@@@)-@@@-@@-@@');})</script>
</div>