
<div class="popup">
  <h3>Оплата онлайн</h3>
  <ul class="payment-list">
    <li><a href=""><img src="img/img--payment-1.png" alt="alt" /="/"/></a></li>
    <li><a href=""><img src="img/img--payment-1.png" alt="alt" /="/"/></a></li>
    <li><a href=""><img src="img/img--payment-1.png" alt="alt" /="/"/></a></li>
    <li><a href=""><img src="img/img--payment-1.png" alt="alt" /="/"/></a></li>
    <li><a href=""><img src="img/img--payment-1.png" alt="alt" /="/"/></a></li>
  </ul>
</div>