
<div class="popup">
  <form action="js/ajax/search.php" method="post" class="main-form form-relocate">
    <h3>Поиск</h3>
    <label>
      <input type="text" name="name" placeholder="search" class="inp required"/>
    </label><a href="" class="btn btn-yellow js--form-submit">Отправить</a><a href="javascript:;" data-type="ajax" data-src="popup/popup-thanks.html" data-fancybox="thanks" class="js--form-ok"></a>
  </form>
</div>